<ion-header class="">
  <ion-toolbar class="h-16 flex items-center text-white">
    <ion-title class="font-montserrat mx-auto text-center"
      >Tareas</ion-title
    > </ion-toolbar
  ><ion-progress-bar
    type="indeterminate"
    class=""
    *ngIf="loading"
  ></ion-progress-bar>
</ion-header>

<ion-content>
  <div class="gap-5 flex flex-col">
    <p-orderList [value]="tasks" class="h-[90%]">
      <ng-template let-task pTemplate="item">
        <div
          class="flex flex-wrap p-2 align-items-center gap-3 border-b-2 border-black"
        >
          <div class="flex-1 flex flex-column gap-2">
            <span class="font-bold">{{ task.name }}</span>
          </div>
          <div class="flex align-items-center gap-3">
            <mat-checkbox
              (change)="updateTask(task.id, task.completed)"
              [checked]="task.completed"
            >
              {{ task.completed ? 'Completada' : 'Pendiente' }}
            </mat-checkbox>
            <ion-button fill="clear" (click)="deleteTask(task.id)">
              <i class="pi pi-trash"></i>
            </ion-button>
            <ion-button fill="clear" (click)="navigateToUpdateTask(task.id )">
              <i class="pi pi-pencil"></i>
            </ion-button>
          </div>
        </div>
      </ng-template>
    </p-orderList>
  </div>
  <i
    id="addTask"
    routerLink="/new-task"
    class="pi pi-plus bg-indigo-600 text-white fixed bottom-16 right-0 mr-2 mb-2 p-5 z-50 shadow-2xl rounded-full"
    style="font-size: 22px"
  ></i>
</ion-content>
<app-nav></app-nav>
