<ion-header>
  <ion-toolbar class="h-20 flex items-center">
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="font-montserrat mx-auto">Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="w-[90%] m-auto mt-10 gap-5 flex flex-col">
    <p-orderList
      [value]="tasks"
      [listStyle]="{ height: '25rem' }"
      header="Lista de Tareas"
    >
      <ng-template let-task pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
          <div class="flex-1 flex flex-column gap-2">
            <span class="font-bold">{{ task.name }}</span>
            <div class="flex align-items-center gap-2">
              <span>{{ task.completed ? 'Completada' : 'Pendiente' }}</span>
            </div>
          </div>
          <div class="flex align-items-center gap-3">
            <mat-checkbox
              (change)="updateTask(task.id, task.completed)"
              [checked]="task.completed"
            >
              {{ task.completed ? 'Completada' : 'Pendiente' }}
            </mat-checkbox>
            <ion-button fill="clear" (click)="deleteTask(task.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ng-template>
    </p-orderList>
  </div>
  <i
    routerLink="/new-task"
    class="pi pi-plus float-end mr-10 p-5 shadow-2xl rounded-full"
    style="font-size: 2rem"
  ></i>
</ion-content>

<ion-footer class="flex items-center h-16 font-montserrat">
  <ion-tabs class="">
    <ion-tab-bar class="border-t-[1px] border-black h-20">
      <ion-tab-button class="text-lg" routerLink="/home-2">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/task">
        <ion-icon name="book-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/notes">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/calendar">
        <ion-icon name="calendar-number-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
