<ion-content>
  <div class="mt-20 w-[90%] m-auto">
    <h1 class="text-5xl font-semibold">Tareas</h1>
    <button
      shape="round"
      size="small"
      class="mt-5 bg-indigo-400 h-10 w-40 rounded-2xl"
      routerLink="/new-task"
    >
      Agregar Tareas
    </button>
  </div>
  <div class="mt-10">
    <ion-list class="flex flex-col gap-10">
      <ion-item class="text-start"
        ><ion-checkbox class="mr-32" labelPlacement="end"
          >Label at the End</ion-checkbox
        ><button class="ml-10 bg-indigo-400 h-8 w-44 rounded-2xl">
          Modificar
        </button></ion-item
      >
      <ion-item class="text-start"
        ><ion-checkbox class="mr-32" labelPlacement="end"
          >Label at the End</ion-checkbox
        ><button class="ml-10 bg-indigo-400 h-8 w-44 rounded-2xl">
          Modificar
        </button></ion-item
      >
    </ion-list>
  </div>
</ion-content>

<ion-footer class="flex items-center h-20">
  <ion-tabs class="">
    <ion-tab-bar class="border-t-[1px] border-black h-20">
      <ion-tab-button class="text-lg" routerLink="/home-2">
        Inicio
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/task">
        Tareas
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/notes">
        Apuntes
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/calendar">
        Calendario
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
