<ion-header class="h-16"
  ><ion-toolbar class="h-16 flex items-center text-white"
    ><ion-buttons slot="start">
      <ion-back-button default-href="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="font-montserrat text-center">Nueva Tarea</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form class="flex flex-col gap-10 justify-center items-center h-full">
    <mat-form-field class="example-form-field">
      <mat-label>Nombre</mat-label>
      <input [(ngModel)]="task.name" name="taskName" matInput type="text" />
    </mat-form-field>

    <mat-form-field>
      <mat-label></mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="task.endDate"
        name="taskDate"
        id="taskDate"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Escoja Asignatura</mat-label>
      <mat-select [(ngModel)]="task.asignatura" name="taskAsignature">
        <mat-option *ngFor="let note of notes" [value]="note.name">
          {{ note.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-spinner
      *ngIf="loading"
      id="task-spinner"
      [diameter]="50"
    ></mat-spinner>

    <button
      (click)="createTask()"
      [disabled]="loading"
      class="float-end mr-5 bg-indigo-600 text-white h-12 mt-3 rounded-2xl w-40 text-md ion-activatable ripple-parent rounded-rectangle font-montserrat"
    >
      <ion-ripple-effect></ion-ripple-effect>
      Crear nueva Tarea
    </button>
  </form>
</ion-content>
