<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Confirma tu Nombre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex flex-col items-center justify-center h-[80%]">
    <ion-input
      class="w-[80%]"
      type="text"
      fill="solid"
      label="Nombre"
      labelPlacement="floating"
      helperText="Confirma tu nombre"
    ></ion-input>
    <div class="w-[80%] flex justify-end mt-4">
      <ion-button color="success" routerLink="/home-2">
        Comencemos!
      </ion-button>
    </div>
  </div>
</ion-content>
