<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Confirma tu Nombre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex flex-col items-center justify-center h-[80%]">
    <ion-input
      class="w-[80%]"
      type="text"
      fill="solid"
      label="Nombre"
      labelPlacement="floating"
      helperText="Confirma tu nombre"
    ></ion-input>
    <div class="w-[80%] flex justify-end mt-4">
      <button
        class="bg-emerald-400 h-12 rounded-2xl w-36 text-lg ion-activatable ripple-parent rounded-rectangle"
        routerLink="/home-2"
      >
        <ion-ripple-effect></ion-ripple-effect> Comencemos!
      </button>
    </div>
  </div>
</ion-content>
