<ion-header
  ><ion-toolbar
    ><ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="font-montserrat">Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-center m-auto mt-10">
    <h1 class="text-2xl font-montserrat">Casi has terminado</h1>
    <p class="text-[13px] font-montserrat">
      Escribe tu contraseña para iniciar sesion con tu correo
    </p>
  </div>
  <div class="w-[80%] m-auto mt-10 font-montserrat">
    <ion-input
      class=""
      [type]="showPassword ? 'text' : 'password'"
      fill="solid"
      label="Contraseña"
      labelPlacement="floating"
      helperText=""
      errorText="Contraseña Incorrecta"
      ngModel
      email
      ><ion-button
        fill="clear"
        slot="end"
        aria-label="Show/hide"
        (click)="onChangeVisibility()"
      >
        <ion-icon
          slot="icon-only"
          name="eye"
          aria-hidden="true"
        ></ion-icon> </ion-button
    ></ion-input>
    <a routerLink="/restore-password" class="text-purple-400 font-montserrat"
      >¿Has olvidado tu contraseña?</a
    >
  </div>

  <button
    color="success"
    class="float-end mr-5 bg-indigo-400 text-white h-10 mt-3 rounded-2xl w-32 text-md ion-activatable ripple-parent rounded-rectangle font-montserrat"
    routerLink="/welcome"
  >
    <ion-ripple-effect></ion-ripple-effect> Iniciar Sesion
  </button>
</ion-content>
