<ion-header
  ><ion-toolbar class="h-16 flex items-center"
    ><ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="font-montserrat">Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p-toast position="bottom-center"></p-toast>
  <div class="text-center m-auto mt-10">
    <h1 class="text-2xl font-montserrat">¡Hola de nuevo!</h1>
    <p class="text-[13px] font-montserrat">
      Escribe tu correo electronico para iniciar sesion en tu cuenta
    </p>
  </div>
  <ion-input
    class="w-[80%] m-auto mt-10 font-montserrat"
    type="text"
    fill="solid"
    label="Correo"
    labelPlacement="floating"
    helperText=""
    errorText="Correo Incorrecto"
    [(ngModel)]="data.email"
    email
  ></ion-input>
  <ion-input
    class="w-[80%] m-auto mt-10 font-montserrat"
    [type]="showPassword ? 'text' : 'password'"
    fill="solid"
    label="Contraseña"
    labelPlacement="floating"
    helperText=""
    errorText="Contraseña Incorrecta"
    [(ngModel)]="data.password"
    ><ion-button
      fill="clear"
      slot="end"
      aria-label="Show/hide"
      (click)="onChangeVisibility()"
    >
      <ion-icon
        slot="icon-only"
        name="eye"
        aria-hidden="true"
      ></ion-icon> </ion-button
  ></ion-input>
  <a routerLink="/restore-password" class="text-purple-400 font-montserrat m-10"
    >¿Has olvidado tu contraseña?</a
  >

  <button
    id="form-login-button"
    (click)="login()"
    color="success"
    class="float-end mr-5 bg-indigo-600 text-white h-10 mt-3 rounded-2xl w-32 text-md ion-activatable ripple-parent rounded-rectangle font-montserrat"
  >
    <ion-ripple-effect></ion-ripple-effect>
    Iniciar Sesion
  </button>
  <mat-spinner
    *ngIf="loading"
    [diameter]="50"
    class="m-auto mt-32"
  ></mat-spinner>
</ion-content>
