<ion-content [fullscreen]="true">
  <div class="flex items-center justify-center h-full">
    <p-calendar
      class="max-w-full"
      [(ngModel)]="date"
      [inline]="true"
      [showWeek]="true"
    />
  </div>
</ion-content>

<ion-footer class="flex items-center h-16 font-montserrat">
  <ion-tabs class="">
    <ion-tab-bar class="border-t-[1px] border-black h-20">
      <ion-tab-button class="text-lg" routerLink="/home-2">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/task">
        <ion-icon name="book-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/notes">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/calendar">
        <ion-icon name="calendar-number-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
