<ion-content [fullscreen]="true" class="">
  <mat-card class="demo-inline-calendar-card w-[90%] m-auto bg-blue-500">
    <mat-calendar [(selected)]="selected"></mat-calendar>
  </mat-card>
  <p>Selected date: {{selected}}</p>
</ion-content>

<ion-footer class="flex items-center h-16 font-montserrat">
  <ion-tabs class="">
    <ion-tab-bar class="border-t-[1px] border-black h-20">
      <ion-tab-button class="text-lg" routerLink="/home-2">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/task">
        <ion-icon name="book-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/notes">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/calendar">
        <ion-icon name="calendar-number-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
