<ion-header
  ><ion-toolbar
    ><ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <div class="flex items-center justify-center h-[80%] gap-24 flex-col">
    <h1 class="text-3xl">Bienvenido a nuestra App</h1>

    <img
      class="rounded-full w-72 h-72"
      alt="Silhouette of a person's head"
      src="assets/img/cat.jpg"
    />

    <h1 class="text-2xl">Empezemos con tu foto de perfil</h1>
  </div>
  <div class="flex justify-center gap-10">
    <ion-button>Subir Imagen</ion-button>
    <ion-button routerLink="/confirm-name">Saltar</ion-button>
  </div>
</ion-content>
