<ion-content class="">
  <div
    class="flex items-center justify-center h-[80%] gap-24 flex-col font-montserrat"
  >
    <h1 class="text-2xl">Bienvenido a nuestra App</h1>
    <a href="">
      <img
        class="rounded-full w-72 h-72"
        alt="Silhouette of a person's head"
        src=""
    /></a>

    <h1 class="text-xl">Empezemos con tu foto de perfil</h1>
  </div>
  <div class="flex justify-center gap-10">
    <button
      class="bg-indigo-400 rounded-2xl h-10 w-32 text-md text-white ion-activatable ripple-parent rounded-rectangle font-montserrat"
      routerLink="/home-2"
    >
      <ion-ripple-effect></ion-ripple-effect> Saltar
    </button>
    <button
      (click)="fileInput.click()"
      class="bg-indigo-400 rounded-2xl h-10 w-32 text-md text-white ion-activatable ripple-parent rounded-rectangle font-montserrat"
    >
      <input
        type="file"
        #fileInput
        (change)="onFileSelected($event)"
        accept="image/*"
        style="display: none"
      />
      <ion-ripple-effect></ion-ripple-effect> Subir Imagen
    </button>
  </div>
</ion-content>
