<ion-content class="">
  <div class="flex items-center justify-center h-[80%] gap-24 flex-col">
    <h1 class="text-3xl">Bienvenido a nuestra App</h1>

    <img
      class="rounded-full w-72 h-72"
      alt="Silhouette of a person's head"
      src="assets/img/cat.jpg"
    />

    <h1 class="text-2xl">Empezemos con tu foto de perfil</h1>
  </div>
  <div class="flex justify-center gap-10">
    <button
      class="bg-indigo-400 rounded-2xl h-12 w-32 text-lg ion-activatable ripple-parent rounded-rectangle"
    >
      <ion-ripple-effect></ion-ripple-effect> Subir Imagen
    </button>
    <button
      class="bg-indigo-400 rounded-2xl h-12 w-32 text-lg ion-activatable ripple-parent rounded-rectangle"
      routerLink="/confirm-name"
    >
      <ion-ripple-effect></ion-ripple-effect> Saltar
    </button>
  </div>
</ion-content>
