<ion-header class="">
  <ion-toolbar class="h-16 flex items-center text-white">
    <ion-title class="font-montserrat mx-auto text-center"
      >Apuntes</ion-title
    > </ion-toolbar
  ><ion-progress-bar
    type="indeterminate"
    class=""
    *ngIf="loading"
  ></ion-progress-bar>
</ion-header>

<ion-content class="h-full">
  <p-listbox
    [options]="notes"
    [(ngModel)]="selectedNote"
    optionLabel="name"
    (onChange)="onNoteSelect($event.value)"
    [style]="{'width':'100%', 'max-height': '100%'}"
    class="w-full bg-slate-500"
  >
    <ng-template let-note pTemplate="item">
      <div class="flex flex-col w-full h-full border-b-2 border-black">
        <div class="flex justify-between items-center py-2">
          <span>{{ note.name }}</span>
          <ion-button fill="clear" (click)="deleteNote(note.id, $event)">
            <i class="pi pi-trash"></i>
          </ion-button>
        </div>
      </div>
    </ng-template>
  </p-listbox>

  <i
    routerLink="/new-asignature"
    class="pi pi-plus bg-indigo-600 text-white fixed bottom-16 right-0 mr-2 mb-2 p-5 z-50 shadow-2xl rounded-full"
    style="font-size: 22px"
  ></i>
</ion-content>

<app-nav></app-nav>
