.ripple-parent {
  position: relative;
  overflow: hidden;

  border: 1px solid #ddd;
}
ion-toolbar {
  --background: rgb(79, 70, 229);
  --background: linear-gradient(
    90deg,
    rgba(79, 70, 229, 1) 28%,
    rgba(217, 217, 217, 1) 100%
  );
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.p-listbox-list-wrapper {
  max-height: none !important;
}
.ripple-parent {
  position: relative;
  overflow: hidden;

  border: 1px solid #ddd;
}
