<ion-header class="">
  <ion-toolbar class="h-16 flex items-center text-white">
    <ion-title class="font-montserrat mx-auto text-center">Amigos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-full flex flex-row text-center font-montserrat">
    <button
      class="w-[50%] h-10 ion-activatable ripple-parent"
      (click)="activeSection = 'chats'"
    >
      <ion-ripple-effect></ion-ripple-effect> Chats
    </button>
    <button
      class="w-[50%] ion-activatable ripple-parent"
      (click)="activeSection = 'solicitudes'"
    >
      <ion-ripple-effect></ion-ripple-effect> Solicitudes
    </button>
  </div>
  <!-- seccion de chats -->
  <div *ngIf="activeSection === 'chats'" class="flex flex-wrap gap-3">
    <div class="w-full h-20">
      <p-chip
        styleClass="w-full h-full bg-white pl-5 flex justify-between items-center"
        *ngFor="let friend of friendsList"
        (click)="openChatModal(friend.friendId)"
      >
        <div class="flex items-center">
          <span
            class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
          >
            <img
              src="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
              alt="Avatar de Amy Elsner"
              class="w-16"
            />
          </span>
          <span class="ml-2 font-medium"> {{ friend.name }} </span>
        </div>

        <i (click)="deleteFriend(friend.friendId)" class="pi pi-trash"></i>
      </p-chip>
    </div>
  </div>
  <!-- seccion de solicitudes -->
  <div *ngIf="activeSection === 'solicitudes'" class="flex flex-wrap gap-3">
    <div class="w-full h-20">
      <p-chip
        styleClass="w-full h-full bg-white pl-5 "
        *ngFor="let request of requestList"
      >
        <span
          class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
        >
          <img
            src="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            alt="Avatar de Amy Elsner"
            class="w-16"
          />
        </span>
        <span class="ml-2 font-medium"> {{request.name}} </span>
        <div class="flex gap-5 w-full justify-end">
          <button
            class="p-1 rounded-2xl bg-green-300"
            (click)="acceptRequest(request.id, request.sender, request.receiver)"
          >
            Aceptar
          </button>
          <button
            (click)="rejectRequest(request.id, request.sender, request.receiver)"
            class="p-1 rounded-2xl bg-red-300"
          >
            Denegar
          </button>
        </div>
      </p-chip>
    </div>
  </div>
  <!-- modal para agregar amigo -->
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar class="h-16 flex items-center text-white">
          <ion-title class="text-white font-montserrat"
            >Agregar Amigos</ion-title
          >
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="text-center">
          <ion-item>
            <ion-label position="stacked">Ingrese ID único</ion-label>
            <ion-input
              [(ngModel)]="friendId"
              placeholder="Escribe el ID"
            ></ion-input>
          </ion-item>
          <ion-button class="bg-indigo-600" (click)="confirm()"
            >Agregar</ion-button
          >
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- modal para chats -->

  <ion-modal
    id="chatModal"
    [isOpen]="chatModalOpen"
    (willDismiss)="onChatModalDismiss($event)"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Chat</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeChatModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div *ngFor="let message of chatList">
          <p
            [class.sent]="message.senderId === currentUserId"
            [class.received]="message.senderId !== currentUserId"
          >
            {{ message.msg }}
            <span>{{ message.timestamp | date: 'short' }}</span>
          </p>
        </div>
      </ion-content>
      <ion-footer>
        <ion-item>
          <ion-input
            placeholder="Escribe un mensaje..."
            [(ngModel)]="newMessage"
          ></ion-input>
          <ion-button (click)="sendMessage()">Enviar</ion-button>
        </ion-item>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>
<app-nav></app-nav>
<ion-icon
  id="open-modal"
  expand="block"
  name="person-add-outline"
  class="bg-indigo-600 text-white fixed bottom-16 right-0 mr-2 mb-2 p-5 z-50 shadow-2xl rounded-full"
  style="font-size: 30px"
></ion-icon>
