<ion-header
  ><ion-toolbar
    ><ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="flex h-[80%] flex-col">
    <ion-input
      class="w-[80%] m-auto"
      type="text"
      fill="solid"
      label="Nombre"
      labelPlacement="floating"
    ></ion-input>
    <ion-select
      value=""
      class="w-[80%] m-auto"
      type="text"
      fill="solid"
      label="Asignatura"
      labelPlacement="floating"
    >
      <ion-select-option *ngFor="let item of data" [value]="item.task"
        >{{item.task}}</ion-select-option
      >
    </ion-select>

    <ion-datetime-button
      class="w-[80%] m-auto"
      datetime="datetime"
    ></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true" class="">
      <ng-template>
        <ion-datetime id="datetime" presentation="date"></ion-datetime>
      </ng-template>
    </ion-modal>
    <ion-input
      class="w-[80%] m-auto"
      type="text"
      fill="solid"
      label="Tipo de Tarea (Opcional)"
      labelPlacement="floating"
    ></ion-input>
  </form>
  <button class="float-end mr-5 rounded-2xl bg-emerald-400 h-12 w-40">
    Crear nueva Tarea
  </button>
</ion-content>
