<ion-header
  ><ion-toolbar
    ><ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input
    class="w-[80%] m-auto mt-10"
    type="text"
    fill="solid"
    label="Correo"
    labelPlacement="floating"
    helperText=""
    errorText="Correo Incorrecto"
    ngModel
    email
  ></ion-input>
  <ion-button
    color="success"
    class="float-end mr-5"
    routerLink="/login-password"
  >
    Siguiente</ion-button
  >
</ion-content>
