<ion-header
  ><ion-toolbar
    ><ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-center m-auto mt-10">
    <h1 class="text-2xl">Casi has terminado</h1>
    <p class="text-[13px]">
      Escribe tu contraseña para iniciar sesion con tu correo
    </p>
  </div>
  <ion-input
    class="w-[80%] m-auto mt-10"
    [type]="showPassword ? 'text' : 'password'"
    fill="solid"
    label="Contraseña"
    labelPlacement="floating"
    helperText=""
    errorText="Contraseña Incorrecta"
    ngModel
    email
    ><ion-button
      fill="clear"
      slot="end"
      aria-label="Show/hide"
      (click)="onChangeVisibility()"
    >
      <ion-icon
        slot="icon-only"
        name="eye"
        aria-hidden="true"
      ></ion-icon> </ion-button
  ></ion-input>
  <a routerLink="/restore-password" class="text-purple-400 ml-5"
    >¿Has olvidado tu contraseña?</a
  >
  <ion-button color="success" class="float-end mr-5" routerLink="/welcome">
    Iniciar Sesion</ion-button
  >
</ion-content>
