<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="font-montserrat">Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="flex items-center h-[80%] flex-col">
    <ion-input
      class="w-[80%] m-auto font-montserrat"
      type="text"
      fill="solid"
      label="Nombre"
      labelPlacement="floating"
      helperText="Ingresa un minimo de 4 caracteres"
      errorText="Minimo de 4 caracteres"
      ngModel
      name="name"
      required
      minlength="4"
      [(ngModel)]="register.user"
    ></ion-input>
    <ion-input
      class="w-[80%] m-auto font-montserrat"
      type="email"
      fill="solid"
      label="Correo"
      labelPlacement="floating"
      helperText="Ingresa un correo valido"
      errorText="Correo Incorrecto"
      ngModel
      name="email"
      required
      [(ngModel)]="register.email"
      email
    ></ion-input>
    <ion-input
      class="w-[80%] m-auto font-montserrat"
      [type]="showPassword ? 'text' : 'password'"
      fill="solid"
      label="Contraseña"
      labelPlacement="floating"
      helperText="Ingresa minimo de 8 caracteres"
      errorText="Minimo de 8 caracteres"
      ngModel
      name="password"
      required
      minlength="8"
      [(ngModel)]="register.password"
      ><ion-button
        fill="clear"
        slot="end"
        aria-label="Show/hide"
        (click)="onChangeVisibility()"
      >
        <ion-icon
          slot="icon-only"
          name="eye"
          aria-hidden="true"
        ></ion-icon> </ion-button
    ></ion-input>
    <ion-input
      class="w-[80%] m-auto font-montserrat"
      [type]="showPassword ? 'text' : 'password'"
      fill="solid"
      label="Repite la contraseña"
      labelPlacement="floating"
      helperText="Asegurate que las contraseñas sean correctas"
      errorText="Las contraseñas no coinciden"
      ngModel
      name="repeatpassword"
      [(ngModel)]="register.repeatpassword"
    >
    </ion-input>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </form>
  <button
    class="float-end mr-5 bg-indigo-400 text-white h-12 rounded-2xl w-32 text-md ion-activatable ripple-parent rounded-rectangle font-montserrat"
    (click)="onSubmit()"
    [disabled]="loading"
  >
    <ion-ripple-effect></ion-ripple-effect>
    Registrarse
  </button>
</ion-content>
