ion-toolbar {
  --background: rgb(79, 70, 229);
  --background: linear-gradient(
    90deg,
    rgba(79, 70, 229, 1) 28%,
    rgba(217, 217, 217, 1) 100%
  );
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
ion-header {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
