<ion-header> </ion-header>

<ion-content>
  <div class="flex gap-2 items-center w-[90%] m-auto h-[20%] font-montserrat">
    <img class="rounded-full w-24 h-24" src="assets/img/cat.jpg" />

    <h2 class="text-2xl mt-3">Maximiliano Duran</h2>
  </div>
  <div class="flex items-center m-auto h-[5%] w-[90%] font-montserrat">
    <h2 class="text-3xl">Resumen de tareas</h2>
  </div>
  <div
    class="flex justify-center items-center w-[90%] h-[8%] m-auto text-center mt-5 font-montserrat"
  >
    <div
      class="w-[50%] border-r-2 bg-slate-100 h-full border-black text-2xl flex items-center justify-center font-montserrat"
    >
      30 Tareas Completadas
    </div>
    <div
      class="w-[50%] h-full text-2xl bg-slate-100 flex items-center justify-center font-montserrat"
    >
      20 Tareas Pendientes
    </div>
  </div>
  <div class="w-[90%] m-auto mt-5">
    <app-chart></app-chart>
  </div>
  <div class="w-[90%] m-auto text-center mt-10">
    <h1 class="text-2xl font-montserrat">Expiracion de tareas mas cercanas</h1>
    <ion-list
      lines="none"
      class="w-[90%] m-auto h-[80%] flex flex-col items-center font-montserrat"
    >
      <ion-item class="flex w-[80%] font-montserrat" *ngFor="let item of data">
        <span class="w-[50%]">{{ item.task }}</span>
        <ion-label class="w-[50%] text-right">{{ item.date }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer class="flex items-center h-16 font-montserrat">
  <ion-tabs class="">
    <ion-tab-bar class="border-t-[1px] border-black h-20">
      <ion-tab-button class="text-lg" routerLink="/home-2">
        Inicio
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/task">
        Tareas
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/notes">
        Apuntes
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/calendar">
        Calendario
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
