

<ion-content class="">


    <swiper-container  class="h-[100%]"  [pagination]="true"> 
         
      <swiper-slide class=" bg-slate-300 flex items-center justify-center  ">Slide 1</swiper-slide>
      <swiper-slide class="bg-slate-600 flex items-center justify-center  ">Slide 2</swiper-slide>
      <swiper-slide class="bg-red-300 flex items-center justify-center  ">Slide 3</swiper-slide>
    </swiper-container>
    

  
</ion-content>
<ion-footer class="bg-white flex  ">
 
    <button class=" w-[50%] h-16 text-[15px] text-black ">Registrarse</button>
    <button class=" w-[50%] h-16   text-[15px] text-black  ">Iniciar Sesion</button>
    
   

</ion-footer>
