<ion-content class="">
  <swiper-container class="h-[100%]" [pagination]="true">
    <swiper-slide class="flex items-center justify-center"
      >Organiza tus Apuntes!</swiper-slide
    >
    <swiper-slide class="flex items-center justify-center flex-col text-2xl"
      >Mantente al dia con tus tareas!
      <ion-img class="w-56" src="assets/img/tareas.jpg"></ion-img
    ></swiper-slide>

    <swiper-slide class="flex items-center justify-center"
      >Organizemos tu calendario!
    </swiper-slide>
  </swiper-container>
</ion-content>
<ion-footer class="bg-white flex">
  <button class="w-[50%] h-16 text-[15px] text-black" routerLink="/register">
    Registrarse
  </button>
  <button class="w-[50%] h-16 text-[15px] text-black" routerLink="/login">
    Iniciar Sesion
  </button>
</ion-footer>
