<ion-header
  ><ion-toolbar
    ><ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva Asignatura</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form class="flex flex-col gap-10 justify-center items-center h-[80%]">
    <mat-form-field class="example-form-field">
      <mat-label>Nombre</mat-label>
      <input [(ngModel)]="note.name" name="noteName" matInput type="text" />
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Profesor</mat-label>
      <input
        [(ngModel)]="note.teacher"
        name="noteTeacher"
        matInput
        type="text"
      />
    </mat-form-field>
    <button
      class="float-end mr-5 bg-indigo-400 text-white h-12 mt-3 rounded-2xl w-40 text-md ion-activatable ripple-parent rounded-rectangle font-montserrat"
      (click)="createNotes()"
    >
      <ion-ripple-effect></ion-ripple-effect>
      Crear nueva Asignatura
    </button>
  </form>
</ion-content>
