<ion-footer class="flex items-center h-16 font-montserrat">
  <ion-tabs class="">
    <ion-tab-bar class="border-t-[1px] border-black h-20">
      <ion-tab-button
        class="text-lg"
        routerLinkActive="active"
        routerLink="/home-2"
      >
        <ion-icon
          [class.active-icon]="isActive('/home-2')"
          name="home-outline"
        ></ion-icon>
      </ion-tab-button>
      <ion-tab-button
        class="text-lg"
        routerLinkActive="active"
        routerLink="/task"
        id="task-tab"
      >
        <ion-icon
          [class.active-icon]="isActive('/task')"
          name="book-outline"
        ></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/notes">
        <ion-icon
          [class.active-icon]="isActive('/notes')"
          name="pencil-outline"
        ></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/calendar">
        <ion-icon
          [class.active-icon]="isActive('/calendar')"
          name="calendar-number-outline"
        ></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="text-lg" routerLink="/friends">
        <ion-icon
          [class.active-icon]="isActive('/friends')"
          name="person-outline"
        ></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
