<ion-header
  ><ion-toolbar
    ><ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="text-center w-[80%] m-auto mt-10">
    <h1 class="text-2xl font-bold">Restablecer Contraseña</h1>
    <p class="mt-1 text-[13px]">
      Escribe la direccion de correo electronico asosiada a tu cuenta y te
      enviaremos un elance para que puedas restablecer tu contraseña
    </p>
  </div>
  <ion-input
    class="w-[80%] m-auto mt-10"
    type="email"
    fill="solid"
    label="Correo Electronico"
    labelPlacement="floating"
    helperText=""
    errorText="Contraseña Incorrecta"
    [(ngModel)]="email"
    email
  ></ion-input>

  <button
    class="float-end mr-5 bg-indigo-400 text-white h-16 mt-3 rounded-2xl w-40 text-lg ion-activatable ripple-parent rounded-rectangle"
    routerLink="/welcome"
    (click)="onResetPassword()"
  >
    <ion-ripple-effect></ion-ripple-effect> Restablecer la contraseña
  </button>
</ion-content>
