<ion-header
  ><ion-toolbar
    ><ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="text-center w-[80%] m-auto mt-10">
    <h1 class="text-2xl font-bold">Restablecer Contraseña</h1>
    <p class="mt-1 text-[13px]">
      Escribe la direccion de correo electronico asosiada a tu cuenta y te
      enviaremos un elance para que puedas restablecer tu contraseña
    </p>
  </ion-header>
  <ion-input
    class="w-[80%] m-auto mt-10"
    type="password"
    fill="solid"
    label="Correo Electronico"
    labelPlacement="floating"
    helperText=""
    errorText="Contraseña Incorrecta"
    ngModel
    email
  ></ion-input>

  <ion-button color="success" class="float-end mr-5" routerLink="/welcome">
    Restablecer la contraseña</ion-button
  >
</ion-content>
