<ion-header class="h-16">
  <ion-toolbar class="h-16 flex items-center justify-between text-white">
    <ion-buttons slot="start">
      <ion-back-button default-href="/" color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="font-montserrat text-start">Apuntes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex flex-col gap-3 justify-center items-center h-full">
    <div
      class="text-editor w-[95%] bg-white h-[90%] overflow-auto"
      contenteditable="true"
      (input)="onInput($event)"
      #editableDiv
      (blur)="updateNote()"
    ></div>
    <div class="flex flex-row gap-5" *ngIf="activeKeyboard">
      <i
        class="pi pi-plus p-3"
        (click)="optionsDiv()"
        style="font-size: 20px"
      ></i>
      <!-- div de opciones -->

      <i
        (click)="foto()"
        class="pi pi-image border-indigo-600 p-3"
        style="font-size: 20px"
      ></i>

      <i
        (click)="startRecording()"
        *ngIf="!recording"
        class="pi pi-microphone p-3"
        style="font-size: 20px"
      ></i>

      <!-- Botón de detener grabación -->
      <i
        (click)="stopRecording()"
        *ngIf="recording"
        class="pi pi-stop-circle p-3 text-red-500"
        style="font-size: 20px"
      ></i>

      <i
        ><ion-icon
          name="text-outline"
          style="font-size: 20px"
          (click)="optionsDiv2()"
          class="p-3"
        ></ion-icon
      ></i>
      <button>
        <ng-icon
          g-icon
          style="font-size: 18px"
          (click)="sendEmail()"
          name="bootstrapShare"
        ></ng-icon>
      </button>
    </div>
    <!-- div de opciones 2 -->
    <div class="flex flex-row gap-5" *ngIf="showOptions">
      <button>
        <i
          style="font-size: 20px"
          class="pi pi-times"
          (click)="closeOptionsDiv()"
        ></i>
      </button>
      <button>
        <ng-icon style="font-size: 20px" name="bootstrapTypeH1"></ng-icon>
      </button>
      <button>
        <ng-icon style="font-size: 20px" name="bootstrapTypeH2"></ng-icon>
      </button>
      <button>
        <ng-icon style="font-size: 20px" name="bootstrapTypeH3"></ng-icon>
      </button>
    </div>
    <!-- div de opciones 3 -->
    <div class="flex flex-row gap-5" *ngIf="showOptions2">
      <button>
        <i
          style="font-size: 20px"
          class="pi pi-times"
          (click)="closeOptionsDiv2()"
        ></i>
      </button>
      <button>
        <ng-icon g-icon style="font-size: 20px" name="radixFontBold"></ng-icon>
      </button>
      <button>
        <ng-icon
          g-icon
          style="font-size: 20px"
          name="radixFontItalic"
        ></ng-icon>
      </button>
    </div>
  </div>
</ion-content>
